# Base de datos PostgreSQL / PostGIS
POSTGRES_USER=escuelas_user
POSTGRES_PASSWORD=escuelas_secret_2026
POSTGRES_DB=escuelas_corrientes

# Backend API & Seguridad
SECRET_KEY=super_secret_jwt_key_corrientes_2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Acceso Administrador por Defecto
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin123

# Frontend
VITE_API_URL=http://localhost:8000/api
